In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [72]:
main_data = pd.read_csv("titanic.csv")

In [73]:
main_data = main_data.drop(['Siblings/Spouses Aboard','Parents/Children Aboard'], axis=1)

In [74]:
main_data.head(5)

,Survived,Pclass,Name,Sex,Age,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,8.0500

In [75]:
main_data['Gender'] = LabelEncoder().fit_transform(main_data['Sex'])

In [76]:
data_y = main_data.Survived

In [77]:
data_y=data_y.to_frame()

In [78]:
data_x = main_data.drop(['Survived'],axis=1)

In [79]:
data_x.head(5)

,Pclass,Name,Sex,Age,Fare,Gender
0,3,Mr. Owen Harris Braund,male,22.0,7.2500,1
1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,71.2833,0
2,3,Miss. Laina Heikkinen,female,26.0,7.9250,0
3,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,53.1000,0
4,3,Mr. William Henry Allen,male,35.0,8.0500,1

In [80]:
data_x = data_x.drop(['Name','Sex'], axis=1)

In [81]:
data_x.loc[886]

Pclass     3.00
Age       32.00
Fare       7.75
Gender     1.00
Name: 886, dtype: float64

In [82]:
len(data_x.index)

887

In [83]:
len(data_x.index)

887

In [84]:
input_list = []

pclass = float(input("Travelling Class:"))
input_list.append(pclass)

age = float(input("Agee:"))
input_list.append(age)

fare = float(input("Fare:"))
input_list.append(fare)

gender = float(input("Gender(Male=1|Female=0):"))
input_list.append(pclass)

data_x.loc[len(data_x.index)] = input_list

Travelling Class:3
Agee:27
Fare:11
Gender(Male=1|Female=0):1

In [15]:
scaler = MinMaxScaler()

In [85]:
data_x = scaler.fit_transform(data_x)

In [86]:
data_x[-1]

array([1.        , 0.33400352, 0.02147057, 1.        ])

In [28]:
new_list = [data_x[887][0],data_x[887][1],data_x[887][2],data_x[887][3]]

In [29]:
new_list

[1.0, 0.24604171902488062, 0.019518700085804204, 1.0]

In [87]:
new_array = data_x[-1]

In [31]:
new_array.shape

(4,)

In [88]:
new_array = new_array.reshape((4,1))

In [89]:
new_array.shape

(4, 1)

In [37]:
new_array

array([[1.        ],
       [0.24604172],
       [0.0195187 ],
       [1.        ]])

In [91]:
my_array = data_x[-1]

In [92]:
my_array = my_array.reshape((4,1))

In [93]:
my_array.shape

(4, 1)

In [24]:
W = np.array([[-2.20722506],
       [-2.12511689],
       [ 0.35342924],
       [-2.33111217]])

In [26]:
W.shape

(4, 1)

In [32]:
def magictor(my_data, W, b):
    Z = np.dot(W.T,my_data) + b
    A = 1/(1+np.exp(-Z))
    
    if(A>0.5):
        print("Congratulations!! You Survived ({})".format(A))
    else:
         print("Sorry you died,RIP({})".format(A))

In [30]:
b=3.054042361203812

In [94]:
magictor(my_array,W,b)

Sorry you died,RIP([[0.10096908]])